@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin: 75px 0 0 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: stretch;
}

header{
    position: fixed;
    height: 75px;
    width: 100vw;
    top: 0;
}
nav{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    background: white;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    align-items: center;
    justify-content:space-around;
    line-height: 75px;
    padding: 5px 20px;
    color: #8E8E8E;
}

#Logo{
    display: flex;
    flex-grow: 1;
}
#Msgs,#Not,#Menu{
    flex-grow: 1;
    text-align: center;
}

#Inicio, #Siguiendo, #explorar, #User{
    flex-grow: 1;
    text-align: center;
}

#Inicio:hover, #Siguiendo:hover, #explorar:hover, #User:hover, #Msgs:hover, #Not:hover, #Menu:hover{
    background-color: #EFEFEF;
    border-radius: 30%;
}

#searchbar{
    flex-grow: 70;
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
}
#searchbar input{
    width: 90%;
    height: 60%;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: #EFEFEF;
}

div.col{
    width: 16.59vw;
    border-left: 1px solid #2c3e50;
    border-right: 1px solid #2c3e50;
}

div.col div{
    box-sizing: border-box;
    width: auto;
    border-bottom: 1px solid #2c3e50;
    border-radius: 10px;
    margin: 1.5em;
    padding: 8px;
}

div.col div.dos{
    height: 200px;
    background: #3498db;
}
div.col div.cuatro{
    height: 400px;
    background: #27ae60;
}
div.col div.seis{
    height: 600px;
    background: #34495e;
}

.inp1{
    background:url("../image/finder.png") no-repeat;
    padding: 5px 5px 5px 3em;
    background-position: 6px 8px;
 }